#body-header {
    opacity: 0.8;
    height: 75vh;
    min-height: 450px;
    font-size: 1rem;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

#body-header h1 {
    text-align: center;
}

.horizontal-list {
    text-align: center;
    padding: 0;
}

.horizontal-list li {
    display: inline;

}

.horizontal-list li a {
    text-decoration: none;
    color: white;
    word-spacing: 13px;
    transition: color 5s, border-bottom 0.4s;
}

.nav-menu li a:hover {
    color: orange;
    border-bottom: solid;

}

.social-icons li a i {
    padding: 10px;
    border-radius: 50%;
    font-size: 1rem;
    /* box-shadow: 0px, 0px, 6px, 4px, red; */
}

.social-icons li a i:hover {
    box-shadow: 0px, 0px, 6px, 4px, red;
}


#body-header h1 {

    font-size: 30px;
}

.horizontal-center {
    text-align: center;
}