#logo_image-continer {
    height: 100vh;
    width: 100vw;
    /* background-image: url("https://www.bing.com/images/search?view=detailV2&ccid=1hadYjh3&id=1A8777EBB5C0A0CC43D3304794E0774C23453697&thid=OIP.1hadYjh3JlAL90yebwLYggHaLG&mediaurl=https%3a%2f%2fimage.tmdb.org%2ft%2fp%2foriginal%2fqD6VqAkxxy8mZkpTommx1pMIxj7.jpg&exph=2713&expw=1809&q=dani+daniels&=607987217172205898&FORM=IRPRST&ck=77128CAF46DDCC239EED9AA319DCD93F&selectedIndex=2"); */
    background-image: url("C:\Users\sb803\AppData\Local\Temp\Temp1_0000000000001640.zip\Background\image\logo_switchtocode.png");
    background-position: center;
}